@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
       padding: 0;
       margin: 0;
}
html{
       scroll-behavior: smooth;
}
body{
       font-family: outfit,sans-serif;
}
/* Navigasi */

header{
       width: 100%;
       background-color: transparent;
       position: static;
}

nav img{
       margin-left: 50px;
       height: 50px;
       width: 50px;
       margin-top: 12px;
}

nav h2 a { 
       line-height: 80px;
       margin-left: 0rem;
       font-size:40px;
       text-decoration: none;
       color: black;
}
nav h2 a:hover{ 
      color: #593FA2;

}
nav {
       display: flex;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
       height: 80px;
       width: 100%;
       position: fixed;
}

nav ul{
       display: flex;
       margin-left: 30%;
     list-style: none;
}
nav ul li{
       padding-left: 2.5rem;

}
nav ul li a{
       line-height: 80px;
       text-decoration: none;
       font-size: 1.2rem;
       color: black;
       margin-left: 20px;
       font-weight: bold;
       padding-bottom: 0.7rem;
       border-bottom: 2px solid transparent;
       transition: all;
       -webkit-transition: all;
       -moz-transition: all;
       -ms-transition: all;
       -o-transition: all;
       transition-duration: 800ms;
       cursor: pointer;
}
nav ul li a:hover{
       color:#593FA2;
       border-bottom: 2px solid black;
}



nav ul h4 a{
       margin-left: 5rem;
       line-height: 80px;
       height: 150px;
       border: 3px solid #593FA2;
       text-align: center;
       color: black;
       font-size: 1.2rem;
       text-decoration: none;
       padding:10px 40px 10px 40px;
       border-radius:60px ;
       -webkit-border-radius:60px ;
       -moz-border-radius:60px ;
       -ms-border-radius:60px ;
       -o-border-radius:60px ;
       transition: all;
       -webkit-transition: all;
       -moz-transition: all;
       -ms-transition: all;
       -o-transition: all;
       transition-duration: 400ms;
}

nav ul h4 a:hover{
       border: 3px solid #593FA2;
      background-color: #593FA2;
      color: white;
}

/* Home Section */
.home{
       width: 99%;
       height: 900px;
       border: 1px solid  transparent;
       
}

.content-home{

      margin:100px auto 2px;
       height: 650px;
       width: 90%;
       
}

.caption-home{

       width: 50%;
       height: 100%;
       float: left;
       box-sizing: border-box;
}

.caption-home .judul{
       margin-left: 90px;
       margin-top: 170px;
       
}

.caption-home .judul h1{
       font-size: 50px;
       padding: 2px;
}

.caption-home .judul h2{
       font-size: 50px;
       padding: 2px;
       color: #593FA2;
       margin-bottom: 0.4rem;

}
.typewriter-text {
       overflow: hidden; /* Membuat teks yang lebih panjang daripada kotak tetap tersembunyi */
       border-right: .10em solid #593FA2; /* Garis tegakkan sebagai indikator teks yang sedang diketik */
       white-space: nowrap; /* Teks tidak akan pindah ke baris berikutnya */
       margin: 0 auto; /* Pusatkan teks di dalam kotak */
       letter-spacing: .1em; /* Jarak antara huruf */
       font-size: 24px; /* Ukuran teks */
       font-weight: bold; /* Ketebalan teks */
       animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
     }
     
     @keyframes typing {
       from { width: 0 }
       to { width: 100% }
     }
     
     @keyframes blink-caret {
       from, to { border-color: transparent }
       50% { border-color: #593FA2 }
     }
.caption-home .judul  span{
       font-size: 24px;
       padding: 10px;
     
}

.caption-home .btn{
       margin-top: 30px;
}
.caption-home .btn a{
       border: 1px solid #593FA2;
       border-radius: 50px;
       font-size: 20px;
       text-decoration: none;
       color: black;
       padding: 10px 30px ;
       -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
       -ms-border-radius: 50px;
       -o-border-radius: 50px;
       transition: all;
       -webkit-transition: all;
       -moz-transition: all;
       -ms-transition: all;
       -o-transition: all;
       transition-duration: 400ms;
}

.caption-home .btn a:hover{
       border: 1px solid #593FA2;
       background-color: #593FA2;
       color: white;

}
.image-home{

       width: 50%;
       height: 100%;
       float: right;
       box-sizing: border-box;
}

.sponsor{
       width: 100%;
       margin: auto;
       height: 100px;
       display: flex;
       justify-content: center;
}


.title-sponsor{
       color:  rgba(0, 0, 0, 0.50);
       text-align: center;
}
.sponsor h2{
       font-weight: 700;
       text-align: center;
       color:  rgba(0, 0, 0, 0.50);
       margin-bottom: 1rem;
       line-height: 100px;
       font-size: 25px;
       
}
.content-sponsor{
       width: auto;
       height: auto;
       display: flex;

}

.content-sponsor h2{
       text-align: center;
}

/* About Section */

 .about{
       width: 100%;
       height: 600px;
        box-sizing: border-box;
}
.about-title{
       text-align: center;
       margin-top: 30px;
       font-size: 40px;
       font-weight: 400;
}

.image-about{
       width: 50%;
       height: 100%;
       float: left;
       box-sizing: border-box;
}
.image-about img{
       margin-left: 90px;
       margin-top: 70px;
}
.caption-about{
       width: 50%;
      height: 100%;
      float: right;
   
      box-sizing: border-box;
}
.caption-about .desc-about{
       margin-top: 100px;
}

.caption-about .desc-about p{
       margin: 17px 10px 20px;
       font-size: 20px;
       text-align: justify;
}

/* Message section */
.message{
       width: 100%;
       height: 600px;
       margin-top: 50px;
  
}

.content-message{
       width: 60%;
       height: 500px;
       margin:1px  auto;
       box-sizing: border-box;
}

.content-message h2, p{
       text-align: center;
}
.content-message h2{
       font-size: 40px;
       margin-bottom: 2px;
       padding-top: 50px;
}
.content-message p{
       font-size:20px ;
       font-weight: 100;
       color:  rgba(0, 0, 0, 0.50);
}

.input-rows-one{
      margin-top: 20px;
     
}
.input-rows-one .input-one{
    width: 20%;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid  rgba(0, 0, 0, 0.50);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.input-rows-one .input-two{
       width: 50%;
       height: 50px;
       margin-left: 20px;
       border-radius: 5px;
       border: 1px solid  rgba(0, 0, 0, 0.50);
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
   }
   .input-rows-one .input-three{
       width: 20%;
       height: 50px;
       margin-left: 20px;
       text-align: center;
       border-radius: 5px;
       border: 1px solid rgba(0, 0, 0, 0.50);
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
   }
   ::-webkit-input-placeholder {
      padding-right: 20px;
     }
     :-moz-placeholder {
      text-align: center;
     
     }

form .plus{
       margin-top: 10px;
       margin-bottom: 20px;
}
form .plus a{
       color: #593FA2;
       text-decoration: none;
}

form .keterangan{
       width: 100%;
       height: 100px;
       border-radius: 5px;
       border: 1px solid rgba(0, 0, 0, 0.50);
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
}

.content-message span{
       color: #593FA2;
       font-size: 14px;
}

.content-message button {
       margin-top: 30px;
       width: 100%;
       height: 50px;
       color: white;
       background-color: #593FA2;
       font-size: 20px;
       text-decoration: none;
       cursor: pointer;
       border-radius: 10px;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

/* Faq */
.faq-section {
    
       max-width: 100%;
       margin: 0 auto;
       margin-bottom: 100px;

   }
   .faq-title{
       text-align: center;
       margin-top: 50px;
       font-size: 40px;
       font-weight: 400;
}
.faq-child-title{
              text-align: center;
              font-size: 20px;
              font-weight: 400;
              margin-bottom: 50px;
}
   .faq-row {
       display: flex;
       justify-content: space-between;
       margin-bottom: 20px;

   }
   
   .faq-column {
       flex-basis: 48%;
       padding: 10px;
       margin-left: 10px;
       border: 0.5px solid #ccc;
    
   }
   .faq-column .icon{
       display: flex;
       align-items: center;
       justify-content: center;
       width: 60px;
       height: 60px;
       border: 1px solid #ccc;
       background-color: #7C53AF;
       border-radius:50%;
       -webkit-border-radius:50%;
       -moz-border-radius:50%;
       -ms-border-radius:50%;
       -o-border-radius:50%;
}
   .faq-column h3 {
       margin-top: 0;
       font-size: 18px;
   }
   
   .faq-column p {
       margin: 10px 0;
       font-size: 14px;
       text-align: justify;
   }


/* Footer */
/* 
  .foot{
  
       left: 0;
       bottom: 12px;
       width: 100%;
       background: #7C53AF;
       padding-top: 60px;
       border: 1px solid white;
     }
     
     footer {
       display: flex;
       align-items: flex-start;
       gap: 40px;
       margin: 0 30px;
       border: 1px solid white;
     }
     
     @media (width < 620px) {
       footer {
         flex-direction: column;
       }
     
       footer.bottom {
         gap: 16px;
         flex-direction: column-reverse;
       }
     }
     
     footer > img {
       margin-top: 10px;
     }
     
     @media (width >= 620px) {
       footer {
         margin: 0 auto;
         max-width: 600px;
         padding: 0;
       }
     }
     
     footer {
       color: #a2b5cd;
       border: 1px solid white;
     }
     
     footer.top {
       border-bottom: 2px solid #3a4f6a;
       padding-bottom: 20px;
       border: 1px solid white;
     }
     
     footer.bottom {
       padding: 20px 0;
       justify-content: space-between;
     }
     
     footer.top .links {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 30px;
       border: 1px solid white;
     }
     
     .links > div {
       display: grid;
       gap: 10px;
       margin-bottom: 30px;
         border: 1px solid white;
     }
     
     footer h2 {
       margin: 0;
       font-size: 16px;
       font-weight: 400;
       color: #f7f7f7;
     }
     
     .legal {
       font-size: 12px;
     }
     
     .legal > a {
       margin: 0 4px;
     }
     
     .legal > span {
       margin-right: 10px;
     }
     
     footer.bottom .links {
       display: flex;
       gap: 18px;
     }
     
     footer.bottom .links > a {
       font-size: 24px;
     }
     
     @media (width < 420px) {
       footer {
         text-align: center;
         align-items: center;
       }
     
       footer.top .links {
         grid-template-columns: 1fr;
       }
     
       footer.bottom {
         align-items: center;
       }
     
       .legal > span {
         display: block;
         margin-right: 0;
         margin-bottom: 2px;
       }
     }
      */

/* Login Pagte */
.login-page{
       width: 100%;
       height: 100vh;
       overflow: auto;
       background-color: #7C53AF;
    
}

.parent-login{
       width: 70%;
       height: 90vh;
       margin: 80px auto;
       background-color: #fff;
       overflow: hidden;
       box-sizing: border-box;
       border-radius: 30px;
       -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
       -ms-border-radius: 30px;
       -o-border-radius: 30px;

}

   .image-child-login{
       width: 50%;
       height: 100%;
       float: left;

   }
   .image-login{
       width: 400px;
       height: 400px;
       margin: 50px auto;
   }
   .pos-login{
       display: flex;
       align-items: center;
       margin-left: 15%;
       margin-top: 50px;
   }
   .pos-login h2{
       margin-left: 10px;
       font-size: 40px;
   }
   .pos-login a{
       text-decoration: none;
   }
   .content-child-login{
       width: 50%;
       height: 100%;
       float: right;
 
   }
   .login-form{

       width: 95%;
       height: 60%;
       margin-top: 25%;
       margin-left: 20px;
   }
   .content-child-login p{

       margin-top: 46px;
       font-size: 40px;
       color: #7C53AF;
       text-align: left;
       margin-bottom: 20px;
   }
   /* .input-login {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
    */
   .input-login input {
       width: 80%;
       height: 75px;
       border-radius: 5px;
       font-size: 20px;
       padding-left: 20px;
  
       margin-bottom: 20px;
       border: 1px solid rgba(0, 0, 0, 0.50);
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
   } 
  .content-child-login button{
       margin-top: 30px;
       width: 80%;
       height: 50px;
       color: white;
       background-color: #593FA2;
       font-size: 20px;
       text-decoration: none;
       cursor: pointer;
       border-radius: 5px;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
       /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
       */
}